<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper Home</title>
</head>
<body>
    <h1>Hello, do you want to play minesweeper?</h1>
    <div id="formDiv">
        <form id="form" action="/minesweeper/game/" method="post">
             {% csrf_token %}
            <label for="rowInput">Number of Rows:</label>
            <input id="rowInput" type="number" name="row" value=10 pattern="[0-9]" min="1" required><br>
            <label for="colInput">Number of Columns:</label>
            <input id="colInput" type="number" name="col" value=10 pattern="[0-9]" min="1" required><br>
            <label for="bombsInput">Number of Bombs:</label>
            <input id="bombInput" type="number" name="bombs" value=10 pattern="[0-9]" min="1" required><br>
            <div id="buttonArea">
                <button class="submitButtons" id="submitButton" type="submit"> Submit </button>
            </div>
        </form>
    </div>
</body>
</html>